package test;

import java.util.Scanner;

public class Bot {

    public static void main(String[] args) {
        Scanner scanner=new Scanner(System.in);
        String n = "Привет я твой робот." + "\n" + "1) Рецепт блинов" + "\n" + "2) Рецепт оладиков";
        System.out.println(n);
       for ( ; true; ) {
           int f = scanner.nextInt();
           if (f == 1)
               System.out.println("Яйца мука");
           else if (f == 2)
               System.out.println("кабачки и мука");
           else
               System.out.println("Нет такого ответа");
       }
    }
}
